<h1>Recipes</h1>
<%= link_to 'New Recipe', new_user_recipe_path(@user), class:"btn btn-success" %>

<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, user_recipe_path(@user, recipe)%>
        </td>

        <td><%= recipe.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

