<h1>Ingredients</h1>
<%= link_to 'New Ingredient', new_ingredient_path, class:"btn btn-success" %>
<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.name, ingredient_path(ingredient)%></td>
        <td><%= ingredient.description %></td>

      </tr>
    <% end %>
  </tbody>
</table>

